body{
    font-size: 15pt;
    background-image: url('img/car.jpg');
    height:100%;
    margin:0;
    background-size: 110%;
    background-repeat: no-repeat;
}
h1 small{
    color: darkslategrey;
}
.form-control{
    width:70%;
    margin-left:7%;
    font-size: 15pt;
}
.control-label{
    left:7%;
}

.jumbotron{
    border-radius: 30px;
    background-color: rgba(210,170,109,0.9);
    border: solid black 4px
}

#submit{
    margin:10px;
    margin-left: 35%;
    font-size: 15pt;
}
.navbar, navbar-brand, a{
    background-color: maroon;
    border: solid maroon 2px;
    border-radius: 2px;
    font-size: 19pt;
    color: peachpuff;
}