.well{
    border-color: transparent;
    background-color:transparent;
    -webkit-box-shadow: none;
    padding: 0px;
    padding-left: 17px; 
    margin: auto;
}
#emp-search{
    display: block;
    padding-top: 20px;
}

#view{
    display: inline;
}
#view-table-div{
    padding-top: 25px;
}